<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans.xsd">   

	<!-- 配置类 
		配置需要创建的对象
		id：用于之后从spring容器获得实例使用的
		class：需要创建实例的类全限定名
	-->
	
	<bean id="userServiceId" class="exmple1.UserServiceImpl">
		<property name="book" ref="bookDaoId"></property>
	</bean>
	<bean id="bookDaoId" class="exmple1.BookDaoImpl"></bean>
</beans>