<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans.xsd">   

	<bean id="person" class="com.setter.Person">
		<property name="name" value="王兴利"></property>
		<property name="age" value="10"></property>
		<property name="homeAdd" ref="homeAddress"></property>
		<property name="companyAdd" ref="companyAddress"></property>
	</bean>
	
	<bean id="homeAddress" class="com.setter.Address">
		<property name="tel" value="119"></property>
		<property name="address" value="NWU"></property>
	</bean>
	
	<bean id="companyAddress" class="com.setter.Address">
		<property name="tel" value="911"></property>
		<property name="address" value="UWN"></property>
	</bean>
</beans>